<div class="card-row">
    <div class="card-row-details">
        <div class="table-responsive">
            <nav>
                <h5> Dynamic search results </h5>
                <input class="form-label" type="text" name="Category" [(ngModel)]="Category" (ngModelChange)="search()"
                    placeholder="Search by Category" size="50">
                <input class="form-label" type="text" name="Price" [(ngModel)]="Price" (ngModelChange)="search()"
                    placeholder="Search by Price" size="50">
                <input class="form-label" type="text" name="AuthorName" [(ngModel)]="AuthorName"
                    (ngModelChange)="search()" placeholder="Search by AuthorName" size="50" width="100%">
            </nav>
            <div class="row row-cols-1 row-cols-md-4 gy-5 gx-0 ">
                <div *ngFor="let item of Booklist">
                    <div class="col ">
                        <div class="card" style="width: 17rem; height: 25rem;">
                            <img src="{{item.logo}}" class="card-img-top" width="100%" height="70%" object-fit="cover"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Title:{{item.title}}</h5>
                                <h5 class="card-title">BookId:{{item.bookId}}</h5>
                                <!-- <button class="btn btn-primary " (click)="routetopayment('/payment-comp')"{{item.bookId}} >Buy Book </button> -->
                                <!-- <a class="nav-link "href="#"  >Buy Book</a>  -->
                                <button class="btn btn-primary" (click)="proceedpayment(item)">Buy Book</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>