
<div class="card-row" >
    <div class="card-row-details" >
        <div class="table-responsive">
            <h5> Dynamic search results </h5>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by Category" aria-label="Category"
                    [(ngModel)]="Category" (ngModelChange)="search()">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by Price" aria-label="Price"
                    [(ngModel)]="Price" (ngModelChange)="search()">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by AuthorName" aria-label="AuthorName"
                    [(ngModel)]="AuthorName" (ngModelChange)="search()">
            </div>

            <div class="row row-cols-1 row-cols-md-4 gy-5 gx-0 ">
                <div *ngFor="let item of Booklist">
                    <div class="col ">
                        <div class="card" style="width: 17rem; height: 25rem;">
                            <img src="{{item.logo}}" class="card-img-top" width="100%" height="70%" object-fit="cover"
                                alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Title:{{item.title}}</h5>
                                <h5 class="card-title">BookId:{{item.bookId}}</h5>
                                <button class="btn btn-primary" (click)="proceedpayment(item)">Buy Book</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>