<div id="app">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Digitals Book</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href='/home-comp' class="nav-link" routerLink="home-comp">Home </a>
        </li>
       
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isSignIn">
        <li class="nav-item">
          <a href='userDetails-comp' class="nav-link" routerLink="userDetails-comp">Sign Up</a>
        </li>
        <li class="nav-item">
            <a href='book-compo' class="nav-link" routerLink="book-compo">Add Book</a>
          </li>
        <li class="nav-item">
          <a href='signin-comp' class="nav-link" routerLink="signin-comp">Sign In</a>
        </li>
      </ul>
      
    </nav>      
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>